<div class="bg-white shadow rounded-lg p-6 border border-gray-200">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">Welcome to the site!</h1>
    
    <p class="text-gray-600">
      You can view your basic information here (e.g. how much vacation do you have left this year, when was the last time you had a vacation).
    </p>
    @if(isLoading){
      <div class="flex justify-center items-center py-10">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-600"></div>
      </div>
    } @else {
      <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        @for (balance of data?.balances; track $index) {
          <div class="bg-blue-50 p-4 rounded-md border border-blue-100">
            <span class="block text-lg text-blue-500 font-semibold">All days ({{balance.type}})</span>
            <span class="block text-3xl font-bold text-blue-700 mt-1">{{balance.totalDays}} days</span>
          </div>
          <div class="bg-blue-50 p-4 rounded-md border border-blue-100">
            <span class="block text-lg text-blue-500 font-semibold">Used days left ({{balance.type}})</span>
            <span class="block text-3xl font-bold text-blue-700 mt-1">{{balance.usedDays}} days used</span>
          </div>
          <div class="bg-blue-50 p-4 rounded-md border border-blue-100">
            <span class="block text-lg text-blue-500 font-semibold">Leave days left ({{balance.type}})</span>
            <span class="block text-3xl font-bold text-blue-700 mt-1">{{balance.remainingDays}} days left</span>
          </div>
        }
      </div>
    }
  </div>
